@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
    transition: all 0.7s ease;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1:hover {
    transition: transform 0.5s ease;
    transform: scale(1.05);
}

.submit-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    display: flex;
    text-align: center;
    width: 80vw;
    height: auto;
    padding-top: 50px;
    padding: 15px 30px;
}

.container .abc-container:nth-child(even) {
    background-color: antiquewhite;
}


#writeToDo, .button {
    padding: 20px;
    margin-top: 20px;
    font-size: 30px;
    background: salmon;
    min-height: 10vh;
    color: #fff;
    border: none;
    outline: none;
    text-align: center;
}

#writeToDo {
    width: 50vw;
}

#writeToDo::placeholder {
    color:#fff;
}

#writeToDo, .button {
    border-bottom: 15px solid antiquewhite;
}

#writeToDo:focus, .button:hover {
    transform: scale(0.95);
    background: tomato;
}

.list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list .item-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list .item-container .item {
    padding: 5px;
    width: 90%;
}

.list .item-container .delete-btn {
    padding: 5px;
    outline: none;
    border: none;
    background-color:transparent;
    width: 10%;
    font-size: 20px;
    height: auto;
    text-align: center;
}
.list .item-container .item:hover, .list .item-container .delete-btn:hover {
    background-color: tomato;
    border-radius: 2px;
    color: #fff;
}

/* item-container 안에서 .item이 2줄로 자동 줄바꿈처리 word-~~ */
.list .item-container .item, .list .item-container .delete-btn {
    margin: 10px 0px;
    cursor: pointer;
    word-break: break-all;
    word-wrap: break-word;
}

.abc-container {
    width: 33%;
    position: relative;
    background: wheat;
}

.abc-container .title:hover {
    background: tomato;
}

.abc-container .title {
    padding: 15px 10px;
    background-color: salmon;
    color: #fff;
    width: 100%;
    margin: 0;
    cursor: default;
}

@media only screen and (max-width: 768px) {
    #writeToDo {
        width: 50vw;
    }
}

@media only screen and (max-width: 480px) {
    .container {
        flex-direction: column;
        width: 90vw;
        align-items: center;
    }

    .a-container, .b-container, .c-container {
        width: 100%;
        height: auto;
    }

}