@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1 { 
    text-align: center;
}

h1:hover {
    transition: transform 0.5s ease;
    transform: scale(1.05);
}

.submit-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    display: flex;
    text-align: center;
    width: 90vw;
    height: auto;
    padding-top: 50px;
    padding: 15px 30px;
}

.container .abc-container:nth-child(even) {
    background-color: antiquewhite;
}


#writeToDo, .button {
    padding: 20px;
    margin-top: 20px;
    font-size: 30px;
    background: salmon;
    min-height: 10vh;
    color: #fff;
    border: none;
    outline: none;
    text-align: center;
    transition: 0.5s ease;
}

#writeToDo {
    width: 70vw;
}

#writeToDo::placeholder {
    color:#fff;
}

#writeToDo, .button {
    border-bottom: 15px solid antiquewhite;
}

#writeToDo:focus, .button:hover {
    transform: scale(0.95);
    background: tomato;
}

.list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list .item-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list .item-container .item {
    position: relative;
    padding: 5px;
    width: 90%;
    font-size: 20px;
}

.list .item-container .delete-btn {
    position: relative;
    padding: 5px;
    right: 10px;
    outline: none;
    border: none;
    background-color:transparent;
    width: 10%;
    font-size: 20px;
    height: auto;
    text-align: center;
    transition: 0.5s ease;
}
.item-container:hover {
    background-color: tomato;
    border-radius: 5px;
    color: #fff;
}

.delete-btn::before {
    content:'✖️';
}

.delete-btn:hover::before {
    content: "❌";
  }

/* item-container 안에서 .item이 2줄로 자동 줄바꿈처리 word-~~ */
.list .item-container .item, .list .item-container .delete-btn {
    margin: 10px 0px;
    cursor: pointer;
    word-break: break-all;
    word-wrap: break-word;
}

.abc-container {
    width: 33%;
    position: relative;
    background: wheat;
}

.abc-container .title:hover {
    background: tomato;
}

.abc-container .title {
    padding: 15px 10px;
    background-color: salmon;
    color: #fff;
    width: 100%;
    margin: 0;
    cursor: default;
    transition: 0.5s ease;
}

@media (max-width: 768px) {
    
    #writeToDo, .button, h1, .title, .list .item-container .item, .list .item-container .delete-btn {
        font-size: 15px;
    }

    .submit-container .button {
        visibility: hidden;
        display: none;
    }
}

@media (max-width: 480px) {
   * {
       transition: none;
   }

   h1:hover {
       transform: none;
   }
    .container {
        flex-direction: column;
        width: 90vw;
        align-items: center;
    }

    #writeToDo {
        width: 90vw;
    }
    #writeToDo, .button, h1, .title, .list .item-container .item, .list .item-container .delete-btn {
        font-size: 5px;
    }
    .button {
        visibility: hidden;
        display: none;
    }

    .abc-container {
        width: 100%;
        height: auto;
    }

}